
<div class="main">

  <div class="card-body" >
    <img src="assets/showsimage1.jpg" class="card-img-top" alt="...">
    <h4 class="card-title">Meta Trap House</h4>
    <p class="card-text" ><small>@frrescorle..<br>
    OxDeex..</small></p>    
  </div>
  
  <div class="card-body">
    <img src="assets/showimage5.jpg" class="card-img-top" alt="...">  
    <h4 class="card-title">Meta Trap House</h4>
    <p class="card-text" ><small>@frrescorle..<br>
    OxDeex..</small></p>   
  </div> 

  <div class="card-body" >
    <img src="assets/genesisimage1.jpg" class="card-img-top" alt="...">  
    <h4 class="card-title">Meta Trap House</h4>
    <p class="card-text" ><small>@frrescorle..<br>
    OxDeex..</small></p>   
  </div>

  <div class="card-body">
    <img src="assets/genesisimage6.jpg" class="card-img-top" alt="...">
    <h4 class="card-title">Meta Trap House</h4>
    <p class="card-text" ><small>@frrescorle..<br>
    OxDeex..</small></p>    
  </div>

  <div class="card-body" >
    <img src="assets/image4.jpg" class="card-img-top" alt="...">
    <h4 class="card-title">Meta Trap House</h4>
    <p class="card-text" ><small>@frrescorle..<br>
    OxDeex..</small></p>    
  </div>


  <div class="card-body" >
    <img src="assets/image1.jpg" class="card-img-top" alt="...">
    <h4 class="card-title">Meta Trap House</h4>
    <p class="card-text" ><small>@frrescorle..<br>
    OxDeex..</small></p>     
  </div>

</div>



