<div class="main">
<div class="main1">
<div class="container" >
     <h2>
       <b>Live Spaces</b>
      </h2>
       <p><img src="assets/llogo.jpg" style="width: 20px; height: 20px;" alt="..">All NFTs on Cyber either belong to or were minted by their space creator. </p> 
</div>

<nav>
  <a routerLink="/trending" routerLinkActice="active"><img src="assets/firelogo.jpg" style="width: 12px; height:14px;" alt="">24h Trending</a>
  <a routerLink="/shows" routerLinkActice="active">Latest shows</a>
  <a routerLink="/popular" routerLinkActice="active">Most Popular</a>
  <a routerLink="/genesis" routerLinkActice="active"><img src="assets/diamondlogo.jpg" style="width: 12px; height:14px;" alt="">In Genesis</a>
  <a routerLink="/temple" routerLinkActice="active"><img src="assets/templelogo.jpg" style="width: 12px; height:14px;" alt="">In Temple</a>
  <a routerLink="/void" routerLinkActice="active"><img src="assets/windlogo.jpg" style="width: 12px; height:14px;" alt="">In Void</a>
  <a routerLink="/bayc" routerLinkActice="active"><img src="assets/bayclogo.jpg" style="width: 12px; height:14px;" alt="">#BAYC</a>
</nav>
</div>
<router-outlet></router-outlet>

</div>
